<div id="debug">{{debug}}</div>



<!--Header Banner-->

<section id="banner">
	<div id="logo" class="element"><img src="img/logo.png" height=100%></div><div id="twine" class="element">twine</div><div id="projectName" class="element">{{title}}</div><div id="views" class="element">Views:</br><a ng-click=setRoute('design')>Design</a> | <a ng-click=setRoute('code')>Code</a> | <a ng-click=setRoute('preview')>Preview</a></div><div id="settings" class="element"><img src="img/Logout.png" height=25px></div>
</section>


<!--Alert Dialog-->

<div id="alert" ng-show="isAlertVisible">
	{{message}}
</div>


<section design>
	<!--Canvasses-->
	
	<canvas id="mainCanvas"></canvas>
	<div id="rightPanel" ng-show="isRightPanelVisible"><canvas id="rightCanvas"></canvas></div>

	
	<!--Info Panel-->
		
	<div id="infoPanel" ng-show="isInfoPanelVisible">
		ID: <input id="infoID" ng-model="infoID" ng-change="updateElement()"/></br>
		Width: {{infoWidth}}</br>
		Height: {{infoHeight}}</br>
		<input type="button" value="Hide Info" ng-click=setIsInfoPanelPreferredVisible(false)>
	</div>
</section>
	




<div id="plus">Add Element</div> <!--Show right panel area-->

<div id="info">Show Info</div> <!--Show Info Panel Area-->